/* --------------------------------------------------鼠标样式----------------------------------------------- */
/* ——————————————————————鼠标光标选中文本样式———————————————————————— */
*:not(.pdfViewer)::selection {
    background-color: rgb(136 135 135 / 15%);
}

/* ————————————————————————鼠标划选区域————————————————————————————*/
.protyle-select {
    background-color: transparent !important;
}


/* ————————————————————————————选中块—————————————————————————————— */
.protyle-wysiwyg--select, .protyle-wysiwyg--select .hljs,.protyle-wysiwyg--hl, .protyle-wysiwyg--hl .hijs {
    background-color: rgba(128, 128, 128, 0.08) !important;
}

/* --------------------------------------------------鼠标样式 END----------------------------------------------- */